@tailwind base;

@tailwind components;

@tailwind utilities;

/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-container
  max-width 400px!important
  margin auto

.content-container
  @apply max-w-2xl mx-auto

.dummy
  @apply bg-green-300 text-3xl

h1
  @apply text-4xl my-2 